/* GLOBAL Styles */

* {
  margin:0;
  padding:0;  
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  color: rgb(0, 0, 127, 1.00);
}


/* BODY */

/* Task Status Swim Lanes */
.swim-lanes {
  min-height: 60vh;
}

/* "Add Task" Button ("Opens" Modal Dialog) */
.add-btn {
  box-shadow: 3px 2px rgb(0, 128, 0, 0.50);
}


/* MODAL DIALOG "Add Task" */

.add-task-modal {
  position: fixed; 
  z-index: 1; /* Modal Dialog brought to Front */
  left: 0;
  top: 0;
  display: none; /* On Page Load: Hidden ("Closed") */
  overflow: auto; 
  padding-top: 100px; /* Modal (Content) Box Position */
  width: 100%; /* Defines Background Shading: Full Page Width */
  height: 100%; /* Defines Background Shading: Full Page Height */
  background-color: rgb(0,0,0); /* Defines Background Shading: Color (Fallback) */
  background-color: rgba(0, 0, 64, 0.4); /* Defines Background Shading: Color */
}

.modal-header {
  justify-content: center;
  font-weight: bold;
  color:rgb(0, 0, 127);
}

/* Modal Content Box */
.modal-content {
  display: flex;
  margin: auto;
  border: 1px solid rgb(128, 234, 255);
  border-radius: 10px;
  width: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 127);
}

/* Modal Close ("X") Icon */
.close-modal {
  float: right;
  margin-top: 25px;
  margin-right: 25px;
  font-size: 28px;
  text-align: right;
  font-weight: bold;
  color: rgba(0,191,255, 1.00);
}

.close-modal:hover,
.close-modal:focus {
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 0, 127, 1.00);
}

/* Modal Data Input Fields */
.modal-field {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(128, 234, 255, 0.75);
  border-radius: 10px;
  width: 75%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: rgb(0, 0, 127);
}

.modal-field, .modal-date label {
  font-weight: bold;
}

.modal-date {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(128, 234, 255, 0.75);
  border-radius: 10px;
  width: 75%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 127);
  text-align: center;

}

/* Modal Input Entry Fields */
textarea, input {
  margin-top: 30px;
  margin-bottom: 10px;
  outline: none;
  border-radius: 5px;
  border-width: 0 0 2px;
  border-color: rgb(0, 0, 127, 0.75);
  width: 100%;
}

::placeholder {
   text-align: center; 
}

.modal-date input {
  margin-top: 30px;
  margin-bottom: 10px;
  outline: none;
  border-radius: 5px;
  border-width: 0 0 2px;
  border-color: rgb(0, 0, 127, 0.75);
  width: 50%;
}

.submit-btn {
  margin: 20px auto;
  box-shadow: 2px 1px rgb(0, 128, 0, 0.50);
}


/* TASK CARDS */

.card {
  transform-style: preserve-3d;
  perspective: 800px;
  margin: 1vh auto;
  box-shadow: rgba(0, 0, 0, 1.00) 0px 2px 10px 0px;
  border-radius: 10px;
  border-width: 1px;
  max-width: 800px;
  padding: 20px 40px;
  background-color: rgb(255, 255, 255, 0.90);
  font-size: 18px;
  color: rgba(0,0,127,1);
}

.card h5 {
  font-weight: bold;
}

.card-id-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 10px;
}

.card-id-header {
  margin-right: 10px;
  font-weight: bold;
}

.delete-btn {
  box-shadow: 2px 1px rgb(255, 0, 0, 0.50);
}


/* TASK CARD TARDINESS */

/* Task Card Tardiness: 'On Time' */
.task-card-ontime {
  background-color: rgba(225, 255, 225, 0.75);
  color: rgb(0, 127, 0);
}

/* Task Card Tardiness: 'Due Today' */
.task-card-warning {
  /* background-color: rgb(255, 234, 196); */
  background-color: rgb(255, 165, 0, 1.00);
  color: white;
}

/* Task Card Tardiness: 'Late' */
.task-card-late {
  background-color: rgb(255, 0, 0, 1.00);
  color: rgb(255, 255, 255);
}

/* Task Card Status: 'Done' */
.task-card-done {
  background-color: rgb(191, 191, 191, 0.25);
  color: rgb(0, 0, 0);
}

/* Task Card Delete Button Status: 'Done' */
.delete-btn-done {
  background-color: rgb(127, 127, 127);
  color: white;
  border-color: white;
  box-shadow: 2px 1px rgb(128, 128, 128, 0.50);
}